### Estandarizamos los datos

In [1]:
import pandas as pd
import numpy as np
import sidetable
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import math 
from sklearn.preprocessing import MinMaxScaler
import warnings
from sklearn.preprocessing import RobustScaler
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [2]:
df= pd.read_csv('../datos/cnt/05-cnt_encoding.csv',index_col = 0)

In [3]:
df.dtypes

season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
cnt             int64
dtype: object

In [4]:
numericas = df.select_dtypes(include=np.number)
numericas.head(2)

,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,0,0,0,0,0,1,14.110847,18.18125,80.5833,10.749882,985
1,0,0,0,2,0,1,14.902598,17.68695,69.6087,16.652113,801

In [5]:
robust = RobustScaler()

In [6]:
robust.fit(numericas)

RobustScaler()

In [7]:
X_robust = robust.transform(numericas)

In [8]:
numericas_robust = pd.DataFrame(X_robust, columns = numericas.columns)
numericas_robust.head(2)

,season,yr,mnth,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt
0,-1.0,-0.5,-1.5,-2.0,-1.0,-1.0,-0.486274,-0.456399,0.855582,-0.208909,-1.274385
1,-1.0,-0.5,-1.5,0.0,-1.0,-1.0,-0.425690,-0.492863,0.332722,0.687550,-1.340188

In [9]:
numericas_robust.drop(["temp",'season','holiday','weekday','weathersit','cnt',"yr", "mnth"],axis =1,inplace = True)

In [10]:
df.drop(['atemp','hum','windspeed',"temp"],axis = 1,inplace=True)

In [11]:
df_total = pd.concat([numericas_robust,df], axis = 1)

In [12]:
df_total.head(2)

,atemp,hum,windspeed,season,yr,mnth,holiday,weekday,weathersit,cnt
0,-0.456399,0.855582,-0.208909,0,0,0,0,0,1,985
1,-0.492863,0.332722,0.687550,0,0,0,2,0,1,801

In [13]:
df_total.to_csv('../datos/cnt/11-cnt-cod_est.csv')

In [14]:
df_total.to_pickle('../datos/cnt/11-cnt-cod_est.pickle')