### Estandarizamos los datos

In [39]:
import pandas as pd
import numpy as np
import sidetable
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import math 
from sklearn.preprocessing import MinMaxScaler
import warnings
from sklearn.preprocessing import RobustScaler
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [40]:
df= pd.read_csv('../datos/cnt/05-cnt_encoding.csv',index_col = 0)

In [41]:
df.dtypes

season          int64
yr              int64
holiday         int64
weekday         int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
cnt             int64
x0_1          float64
x0_2          float64
x0_3          float64
x0_4          float64
x0_5          float64
x0_6          float64
x0_7          float64
x0_8          float64
x0_9          float64
x0_10         float64
x0_11         float64
x0_12         float64
dtype: object

In [42]:
numericas = df.select_dtypes(include=np.number)
numericas.head(2)

,season,yr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt,x0_1,x0_2,x0_3,x0_4,x0_5,x0_6,x0_7,x0_8,x0_9,x0_10,x0_11,x0_12
0,0,0,0,0,1,14.110847,18.18125,80.5833,10.749882,985,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,2,0,1,14.902598,17.68695,69.6087,16.652113,801,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
robust = RobustScaler()

In [44]:
robust.fit(numericas)

RobustScaler()

In [45]:
X_robust = robust.transform(numericas)

In [46]:
numericas_robust = pd.DataFrame(X_robust, columns = numericas.columns)
numericas_robust.head(2)

,season,yr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,cnt,x0_1,x0_2,x0_3,x0_4,x0_5,x0_6,x0_7,x0_8,x0_9,x0_10,x0_11,x0_12
0,-1.0,-0.5,-2.0,-1.0,-1.0,-0.486274,-0.456399,0.855582,-0.208909,-1.274385,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,-0.5,0.0,-1.0,-1.0,-0.425690,-0.492863,0.332722,0.687550,-1.340188,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
numericas_robust.drop(["temp",'season','holiday','weekday','weathersit','cnt',"yr", "x0_1","x0_2",	"x0_3",	"x0_4",	"x0_5",	"x0_6",	"x0_7",	"x0_8",	"x0_9",	"x0_10","x0_11","x0_12"],axis =1,inplace = True)

In [48]:
df.drop(['atemp','hum','windspeed',"temp"],axis = 1,inplace=True)

In [49]:
df_total = pd.concat([numericas_robust,df], axis = 1)

In [50]:
df_total.head(2)

,atemp,hum,windspeed,season,yr,holiday,weekday,weathersit,cnt,x0_1,x0_2,x0_3,x0_4,x0_5,x0_6,x0_7,x0_8,x0_9,x0_10,x0_11,x0_12
0,-0.456399,0.855582,-0.208909,0,0,0,0,1,985,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.492863,0.332722,0.687550,0,0,2,0,1,801,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
df_total.to_csv('../datos/cnt/11-cnt-cod_est.csv')

In [52]:
df_total.to_pickle('../datos/cnt/11-cnt-cod_est.pickle')