### Estandarizamos los datos

In [17]:
import pandas as pd
import numpy as np
import sidetable
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import math 
from sklearn.preprocessing import MinMaxScaler
import warnings
from sklearn.preprocessing import RobustScaler
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [18]:
df= pd.read_csv('../datos/casual/14-casual_encoding.csv',index_col = 0)

In [19]:
df.head(2)

,dteday,season,yr,mnth,holiday,weekday,weathersit,atemp,hum,windspeed,casual
0,2018-01-01,0,0,0,0,1,1,18.18125,80.5833,10.749882,331
1,2018-01-02,0,0,0,2,2,1,17.68695,69.6087,16.652113,131

In [20]:
df.dtypes

dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
weathersit      int64
atemp         float64
hum           float64
windspeed     float64
casual          int64
dtype: object

In [21]:
numericas = df.select_dtypes(include=np.number)
numericas.head(2)

,season,yr,mnth,holiday,weekday,weathersit,atemp,hum,windspeed,casual
0,0,0,0,0,1,1,18.18125,80.5833,10.749882,331
1,0,0,0,2,2,1,17.68695,69.6087,16.652113,131

In [22]:
robust = RobustScaler()

In [23]:
robust.fit(numericas)

RobustScaler()

In [24]:
X_robust = robust.transform(numericas)

In [25]:
numericas_robust = pd.DataFrame(X_robust, columns = numericas.columns)
numericas_robust.head(2)

,season,yr,mnth,holiday,weekday,weathersit,atemp,hum,windspeed,casual
0,-1.0,-0.5,-1.0,-2.0,-0.75,-1.0,-0.456399,0.855582,-0.208909,-0.494713
1,-1.0,-0.5,-1.0,0.0,-0.50,-1.0,-0.492863,0.332722,0.687550,-0.751041

In [26]:
numericas_robust.drop(['season','holiday','weekday','weathersit','casual','yr', "mnth"],axis =1,inplace = True)

In [27]:
df.drop(['atemp','hum','windspeed'],axis = 1,inplace=True)

In [28]:
df_total = pd.concat([numericas_robust,df], axis = 1)

In [29]:
df_total.head(2)

,atemp,hum,windspeed,season,yr,mnth,holiday,weekday,weathersit,casual
0,-0.456399,0.855582,-0.208909,0,0,0,0,1,1,331
1,-0.492863,0.332722,0.687550,0,0,0,2,2,1,131

In [30]:
df_total.to_csv('../datos/casual/15-casual-cod_est.csv')

In [31]:
df_total.to_pickle('../datos/casual/15-casual-cod_est.pickle')